In [1]:
#	EDA process, 
#	Data Cleaning,
#	Feature Selection
#	Dealing with Duplicates

In [2]:
#Importing libraries

import pandas as pd
import numpy as np

In [3]:
#Importing the file

df=pd.read_csv("Salary_Survey.csv")

In [4]:
#Checking the shape of the file; how many observations and features to have an idea of the size of it.

df.shape

(28178, 23)

In [5]:
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",...,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,...,5-7 years,5-7 years,Master's degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Non-binary,NaN,NaN,NaN,NaN,NaN,NaN
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,...,2 - 4 years,2 - 4 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,...,8 - 10 years,5-7 years,College degree,Woman,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Checking info

df.info()

#Some features that should be numerical came up as object, which could be because of malformed values, but before fixing that I will rename the features as they are too long.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28178 entries, 0 to 28177
Data columns (total 23 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28085 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28085 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         28011 non-null  object
 3   Job title                                                                                                                                                                                                                             28084 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7267 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28085 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20780 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28085 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        207 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3044 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28085 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23059 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             28003 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28085 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28085 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27863 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27914 non-null  object
 17  Unnamed: 17                                                                                                                                                                                                                           0 non-null      float64
 18  Unnamed: 18                                                                                                                                                                                                                           0 non-null      float64
 19  Unnamed: 19                                                                                                                                                                                                                           0 non-null      float64
 20  Unnamed: 20                                                                                                                                                                                                                           0 non-null      float64
 21  Unnamed: 21                                                                                                                                                                                                                           0 non-null      float64
 22  Unnamed: 22                                                                                                                                                                                                                           0 non-null      float64
dtypes: float64(7), object(16)
memory usage: 4.9+ MB

In [7]:
#The features titles are long so I will double check the names to see any hidden characters on it.
    
print(df.columns)

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [8]:
#Rename the features to make the data easier to read and work with.

df=df.rename(columns={"How old are you?":"Age",'Job title':"Job_title","What industry do you work in?":"Industry",'If your job title needs additional context, please clarify here:':"Job_title_context","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)":"Annual_Salary",'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.':"Monetary_Compensation","Please indicate the currency":"Currency",'If "Other," please indicate the currency here: ':"Other_currencies",'If your income needs additional context, please provide it here:':"Income_context", 'What country do you work in?':"Country_of_work","If you're in the U.S., what state do you work in?":"US_State",'What city do you work in?':"City_of_work","How many years of professional work experience do you have overall?":"Overral_experience",'How many years of professional work experience do you have in your field?':"Field_experience",'What is your highest level of education completed?':"Education",'What is your gender?':"Gender"})

In [9]:
#Checking all the empty values and confirming if the features were renamed

df.isnull().sum()

Timestamp                   93
Age                         93
Industry                   167
Job_title                   94
Job_title_context        20911
Annual_Salary               93
Monetary_Compensation     7398
Currency                    93
Other_currencies         27971
Income_context           25134
Country_of_work             93
US_State                  5119
City_of_work               175
Overral_experience          93
Field_experience            93
Education                  315
Gender                     264
Unnamed: 17              28178
Unnamed: 18              28178
Unnamed: 19              28178
Unnamed: 20              28178
Unnamed: 21              28178
Unnamed: 22              28178
dtype: int64

In [10]:
#Checking for malformed values on the observations so we can identify inconsistencies and standardize

df['Annual_Salary'].unique()

array(['55,000', '54,600', '34,000', ..., '37741', '53060', nan],
      dtype=object)

In [11]:
df['Monetary_Compensation'].unique()

array([0.00000e+00, 4.00000e+03,         nan, 3.00000e+03, 7.00000e+03,
       2.00000e+03, 1.00000e+04, 5.00000e+02, 5.00000e+03, 1.00000e+03,
       1.50000e+04, 1.00000e+02, 5.00000e+04, 6.00000e+03, 2.00000e+04,
       1.50000e+03, 2.50000e+03, 4.00000e+04, 2.50000e+04, 8.40000e+03,
       3.60000e+03, 1.30000e+04, 8.50000e+03, 6.00000e+04, 8.00000e+03,
       3.05000e+02, 1.60830e+04, 1.50000e+02, 3.00000e+04, 9.00000e+03,
       7.50000e+03, 1.87500e+04, 1.20000e+04, 1.40000e+03, 5.50000e+04,
       1.40000e+04, 1.75500e+04, 2.40000e+03, 1.89000e+05, 3.50000e+03,
       5.75000e+03, 2.70000e+03, 1.30000e+05, 3.10000e+04, 2.00000e+02,
       8.80000e+03, 1.75000e+05, 2.30000e+03, 1.60000e+04, 3.50000e+04,
       3.14050e+04, 8.00000e+04, 7.00000e+04, 2.80000e+04, 3.40000e+04,
       1.80000e+04, 1.17000e+04, 8.00000e+02, 4.00000e+02, 9.00000e+02,
       1.32180e+04, 6.50000e+03, 7.20000e+02, 1.78500e+04, 8.55000e+03,
       5.25000e+03, 1.20000e+03, 2.23000e+05, 1.00000e+05, 5.20000e+03,
       3.05650e+04, 7.00000e+00, 1.75000e+03, 8.20000e+03, 1.80000e+03,
       1.16000e+04, 5.95000e+03, 3.07500e+04, 7.13000e+03, 2.40550e+04,
       6.40000e+03, 6.90000e+04, 4.50000e+03, 1.86000e+04, 7.10000e+03,
       7.20000e+03, 2.20000e+03, 7.50000e+04, 7.60000e+04, 1.10000e+04,
       1.16250e+04, 3.50000e+02, 3.30000e+03, 7.00000e+02, 6.00000e+00,
       8.50000e+04, 2.10000e+04, 2.70000e+04, 8.75000e+03, 4.13630e+04,
       4.20000e+03, 3.00000e+02, 5.45300e+03, 1.09200e+04, 1.84800e+03,
       2.67500e+03, 2.50000e+05, 1.21000e+04, 3.15000e+03, 1.92000e+04,
       1.92000e+03, 1.70000e+03, 1.40000e+05, 1.25000e+04, 2.60000e+03,
       2.80000e+03, 6.63000e+04, 1.56000e+04, 4.50000e+02, 2.25000e+04,
       1.75000e+04, 1.00000e+01, 5.50000e+03, 1.37000e+05, 1.31500e+03,
       1.10000e+05, 4.25000e+05, 2.75000e+04, 1.17500e+04, 4.85000e+03,
       2.07000e+03, 4.15000e+04, 1.70000e+04, 1.73320e+04, 2.01600e+04,
       2.50000e+02, 8.50000e+05, 3.40000e+03, 1.85000e+04, 6.00000e+02,
       1.30000e+03, 8.51100e+03, 6.50000e+04, 7.72500e+03, 2.10000e+03,
       4.50000e+04, 9.50000e+03, 1.55000e+03, 3.60000e+04, 6.68200e+03,
       1.50000e+01, 2.20000e+04, 1.01500e+04, 2.18000e+04, 3.70000e+03,
       7.50000e+02, 1.66290e+04, 2.04000e+04, 1.35000e+04, 1.49210e+04,
       2.40000e+04, 9.12000e+03, 1.10000e+03, 5.10000e+04, 7.80000e+03,
       4.56000e+03, 1.53000e+04, 2.30000e+04, 9.20000e+04, 7.15000e+03,
       1.57230e+04, 2.60000e+04, 2.10000e+02, 9.63000e+03, 4.55000e+05,
       3.70000e+04, 1.86000e+03, 5.30000e+04, 4.70000e+03, 2.00000e+05,
       3.75200e+03, 2.20000e+05, 2.36000e+04, 3.24500e+03, 1.16800e+04,
       7.80000e+04, 1.23250e+04, 6.94700e+03, 6.20000e+03, 1.53390e+04,
       1.77520e+04, 1.25000e+03, 2.24800e+04, 4.72500e+03, 1.07750e+04,
       2.05000e+04, 1.15000e+05, 1.51700e+03, 5.40000e+03, 5.70000e+04,
       1.16500e+04, 2.40750e+04, 9.70000e+03, 7.70000e+03, 4.10500e+03,
       4.40000e+03, 4.40000e+01, 9.83000e+03, 2.90000e+03, 2.25000e+05,
       3.56000e+03, 7.20000e+04, 9.00000e+04, 1.25000e+05, 4.80000e+03,
       1.42500e+04, 1.32000e+04, 1.20000e+05, 3.12000e+02, 2.80000e+05,
       8.49000e+03, 1.60000e+03, 3.89000e+03, 1.24420e+04, 3.50000e+05,
       4.22810e+04, 3.20000e+04, 1.61560e+04, 5.32000e+04, 1.15000e+04,
       2.40000e+02, 2.15000e+04, 2.52500e+04, 8.85000e+03, 1.65000e+04,
       6.56200e+03, 2.90000e+05, 3.90000e+05, 4.56000e+04, 9.00000e+00,
       1.67650e+04, 1.50000e+05, 8.87500e+04, 3.20000e+03, 1.20000e+01,
       3.90000e+04, 5.90000e+04, 3.75000e+03, 1.62000e+03, 1.95000e+04,
       1.85000e+03, 5.60000e+04, 3.70370e+04, 9.60000e+03, 8.81200e+03,
       1.12000e+05, 1.07000e+05, 8.57700e+03, 9.25000e+03, 2.31400e+03,
       2.25000e+03, 4.60000e+04, 2.10350e+04, 8.25000e+03, 2.30000e+05,
       2.55000e+04, 1.27000e+04, 4.80000e+04, 4.50000e+05, 2.45000e+04,
       1.55600e+03, 3.30000e+04, 3.80000e+04, 1.50660e+04, 8.19000e+03,
       1.90000e+04, 1.05000e+04, 4.30000e+03, 6.30000e+02, 2.41500e+05,
       9.72000e+03, 1.13000e+04, 1.87500e+03, 6.38000e+04, 8.61000e+02,
       4.10000e+02, 5.00000e+05, 1.02000e+04, 8.60000e+03, 5.00000e+01,
       9.10000e+03, 1.09000e+05, 7.60000e+03, 4.40000e+04, 1.13300e+03,
       2.33300e+03, 8.60000e+04, 4.10000e+04, 1.12000e+04, 5.80000e+03,
       3.28000e+03, 7.80000e+02, 5.02700e+04, 2.59200e+04, 9.48900e+03,
       1.73250e+04, 1.22000e+05, 1.30350e+04, 9.43200e+03, 2.28000e+04,
       7.75000e+03, 3.15000e+04, 1.41380e+04, 1.55000e+04, 2.18000e+05,
       1.65000e+05, 3.78400e+03, 1.33200e+04, 6.70000e+03, 1.33000e+04,
       8.30000e+03, 1.38000e+04, 2.10480e+04, 7.50000e+01, 3.60000e+02,
       2.47570e+04, 5.20000e+04, 3.04700e+04, 1.61000e+04, 2.46480e+04,
       9.20000e+03, 4.10000e+03, 3.30000e+05, 1.59000e+04, 9.56600e+03,
       6.25000e+03, 1.55760e+04, 9.30000e+02, 3.00000e+05, 4.16600e+03,
       1.27500e+05, 1.90000e+03, 4.90000e+03, 1.68000e+04, 1.95050e+04,
       3.80000e+03, 4.30000e+04, 1.67000e+02, 3.33000e+03, 9.06600e+03,
       1.33000e+03, 1.02786e+05, 9.68300e+03, 9.40000e+03, 6.30000e+03,
       2.08000e+03, 1.70000e+05, 1.16000e+05, 3.03680e+04, 2.50000e+01,
       1.84520e+04, 5.25500e+03, 1.33000e+05, 9.30000e+03, 3.23750e+04,
       9.51900e+03, 1.54000e+03, 1.03000e+04, 1.04000e+05, 1.04740e+04,
       9.88800e+03, 1.69000e+04, 5.98200e+03, 4.83630e+04, 5.20000e+02,
       5.60000e+03, 4.60000e+03, 2.67000e+04, 1.49000e+03, 3.85000e+03,
       1.68750e+04, 6.80000e+03, 1.46000e+04, 1.62000e+05, 2.00000e+00,
       4.25000e+03, 6.80000e+04, 7.36000e+04, 5.43000e+02, 1.12549e+05,
       1.68960e+04, 1.96000e+04, 1.74450e+04, 3.12500e+04, 6.60000e+03,
       7.70000e+04, 2.64000e+03, 1.41000e+04, 5.90000e+03, 2.71750e+04,
       8.10000e+03, 7.10400e+03, 2.24000e+03, 1.30000e+01, 1.23000e+04,
       3.96000e+05, 2.87600e+03, 8.80000e+04, 5.60230e+04, 8.08800e+03,
       4.20000e+04, 4.70000e+04, 1.14000e+04, 2.16750e+04, 9.83400e+03,
       1.34000e+04, 1.28000e+05, 1.88000e+03, 1.05600e+04, 2.40000e+05,
       3.65000e+04, 3.00900e+03, 6.70000e+04, 9.75000e+03, 5.27500e+03,
       1.24000e+04, 3.58000e+04, 1.53040e+04, 5.74000e+03, 3.55000e+03,
       1.60000e+05, 5.40000e+02, 1.16880e+04, 5.15000e+05, 1.05000e+05,
       8.50000e+02, 7.25000e+04, 1.08000e+04, 2.69000e+03, 1.54250e+04,
       1.44000e+04, 9.50000e+04, 9.20000e+02, 1.58000e+05, 3.45000e+05,
       1.36000e+05, 9.60000e+04, 2.90000e+04, 1.45000e+04, 6.00000e+05,
       1.75000e+02, 1.06400e+04, 2.10000e+05, 7.40000e+04, 1.25530e+04,
       2.06000e+03, 1.80000e+05, 9.66000e+03, 2.65000e+05, 1.87000e+05,
       3.31250e+04, 5.46000e+03, 6.50000e+02, 1.07500e+06, 1.47500e+04,
       1.20000e+08, 4.55000e+03, 3.37500e+03, 1.98100e+03, 2.85000e+04,
       1.95440e+04, 5.85000e+03, 3.50000e+01, 9.80000e+04, 9.40700e+03,
       3.25000e+03, 9.80000e+03, 6.85000e+03, 1.20000e+06, 8.82000e+04,
       5.40000e+04, 1.07000e+04, 1.25000e+02, 5.18800e+03, 4.20000e+05,
       9.60000e+02, 1.17700e+04, 3.25000e+04, 4.00000e+05, 7.12500e+03,
       2.17500e+04, 1.41010e+04, 1.85000e+05, 2.53800e+03, 3.40500e+03,
       7.18300e+03, 1.98000e+04, 2.75000e+03, 1.02100e+04, 4.88800e+04,
       1.47000e+04, 2.00000e+01, 3.12000e+03, 9.97500e+03, 1.24800e+03,
       4.47000e+04, 6.90000e+03, 2.26500e+03, 7.30000e+03, 2.89500e+04,
       5.70000e+03, 6.06800e+03, 6.33880e+04, 3.01300e+03, 4.00000e+01,
       2.37500e+04, 8.90000e+03, 9.70000e+02, 4.05000e+04, 6.12000e+03,
       7.94500e+03, 2.66140e+04, 3.89050e+04, 7.30000e+04, 1.71870e+04,
       1.67000e+04, 2.25500e+04, 8.70000e+03, 2.34000e+03, 1.27500e+04,
       3.24000e+04, 1.87200e+04, 7.95000e+03, 1.62390e+04, 1.19900e+04,
       7.70000e+02, 1.06000e+05, 4.11300e+03, 6.37500e+03, 7.89800e+03,
       2.33640e+04, 4.41520e+04, 9.30000e+04, 4.22000e+04, 8.70000e+04,
       4.75000e+03, 1.03020e+04, 9.09100e+03, 3.22100e+03, 7.10000e+04,
       3.12000e+04, 3.37590e+04, 5.80000e+04, 1.24000e+05, 8.14100e+03,
       1.72500e+04, 1.25400e+04, 1.48750e+04, 1.55000e+05, 1.35000e+05,
       1.45000e+05, 6.45000e+04, 2.81900e+03, 8.85800e+03, 4.47500e+03,
       1.26000e+04, 2.99000e+05, 1.73000e+04, 9.00000e+05, 8.69600e+03,
       3.27000e+03, 1.04000e+04, 2.52000e+03, 3.25000e+02, 1.66000e+05,
       6.72500e+03, 1.52500e+05, 8.46100e+04, 2.42000e+04, 8.35000e+03,
       2.32010e+04, 1.18500e+05, 3.68400e+03, 1.43800e+03, 1.56240e+04,
       2.49000e+02, 1.56000e+05, 2.70000e+05, 3.04000e+04, 1.06000e+04,
       3.82300e+04, 1.03820e+04, 1.78000e+05, 1.65000e+03, 1.00000e+00,
       3.75000e+02, 3.35000e+03, 1.35000e+03, 6.24000e+04, 8.48480e+04,
       2.41800e+04, 1.40640e+04, 6.94800e+03, 2.31825e+05, 3.65000e+05,
       3.10000e+03, 7.01500e+03, 2.15000e+03, 1.80000e+02, 1.03500e+04,
       2.06300e+04, 8.12500e+03, 1.75950e+04, 9.40000e+02, 9.76000e+02,
       3.01000e+03, 5.12840e+04, 3.20000e+05, 3.68200e+03, 8.40000e+02,
       1.02000e+05, 1.03000e+05, 1.46250e+04, 1.44200e+04, 1.22000e+04,
       1.47000e+05, 1.95000e+05, 5.17500e+03, 1.48000e+05, 2.65200e+04,
       3.68000e+03, 2.17000e+04, 1.43500e+03, 8.00000e+05, 2.35000e+04,
       2.95000e+04, 8.00000e+01, 2.60000e+05, 4.48000e+04, 3.08000e+04,
       8.30000e+05, 1.90000e+05, 2.88000e+05, 3.84000e+03, 2.75000e+05,
       8.67000e+03, 2.60000e+01, 1.32000e+03, 1.40000e+06, 3.40000e+05,
       5.45000e+03, 4.65000e+03, 2.01000e+05, 2.45500e+05, 7.00000e+05,
       2.46000e+04, 6.84000e+02, 3.25000e+05, 9.10000e+04, 2.36800e+04,
       5.88000e+05, 2.48370e+04, 2.95500e+04, 6.25000e+04, 3.16870e+04,
       4.73800e+04, 5.22000e+03, 8.20000e+04, 2.16000e+02, 4.44000e+04,
       2.33000e+03, 2.35000e+03, 8.69000e+03, 3.66000e+04, 1.89000e+04,
       4.25000e+04, 6.20000e+04, 6.40000e+04, 1.00000e+06, 1.68500e+04,
       1.58700e+04, 1.14300e+04, 1.31000e+04, 2.68000e+03, 9.02000e+03,
       1.82000e+05, 4.95000e+03, 6.60000e+04, 8.37500e+04, 2.98310e+04,
       4.60000e+05, 4.65370e+04, 1.84500e+04, 4.39500e+03, 2.92000e+03,
       3.58800e+04, 9.34000e+02, 3.98000e+05, 5.00090e+04, 2.48550e+04,
       6.15000e+03, 1.28000e+04, 9.51000e+03, 2.91000e+05, 7.43400e+03,
       1.36000e+04, 3.62500e+04, 8.30000e+04, 1.35200e+04, 7.80000e+05,
       1.00500e+04, 1.53310e+04, 8.32000e+03, 3.73970e+04, 1.41000e+05,
       1.43000e+04, 2.65000e+04, 4.41100e+03, 5.35000e+03, 5.00900e+03,
       3.87000e+05, 2.38500e+04, 6.56620e+04, 6.06100e+03, 1.38000e+05,
       8.42000e+04, 2.15000e+05, 1.02900e+04, 1.53500e+04, 7.00000e+01,
       3.75000e+04, 2.14800e+04, 7.70600e+03, 9.45000e+02, 7.23400e+03,
       7.40000e+03, 7.99600e+03, 2.01500e+03, 6.63000e+03, 9.57000e+03,
       3.90000e+02, 1.62500e+04, 1.09000e+04, 8.40000e+04, 2.15100e+03,
       3.94200e+04, 4.90000e+04, 8.20000e+02, 1.60000e+02, 4.73000e+04,
       7.27700e+03, 8.31600e+03, 1.52000e+05, 9.90000e+03, 2.23340e+04,
       1.63000e+04, 7.56800e+03, 1.54000e+04, 9.88000e+03, 1.71600e+04,
       1.11500e+04, 1.45775e+05, 9.27000e+03, 4.47200e+04, 3.56200e+03,
       4.50800e+05, 2.85000e+03, 4.28500e+03, 1.08150e+04, 3.96000e+04,
       4.85560e+04, 3.84800e+04, 2.34000e+04, 1.57500e+04, 2.02500e+04,
       2.26000e+05, 1.79600e+05, 3.37500e+04, 1.08400e+03, 7.25000e+03,
       6.52000e+03, 1.78000e+04, 2.35700e+03, 4.57700e+03, 1.01000e+04,
       1.85400e+04, 5.37500e+04, 1.37300e+03, 8.04000e+05, 3.18000e+03,
       6.02800e+03, 5.30000e+03, 6.73000e+03, 6.50000e+01, 1.23500e+04,
       1.54400e+04, 9.73300e+03, 4.17500e+03, 5.41600e+03, 1.18000e+04,
       7.83000e+03, 7.69500e+03, 6.20000e+01, 1.18000e+05, 1.76000e+04,
       1.62120e+04, 2.16450e+04, 1.67200e+03, 5.50000e+02, 1.56000e+03,
       5.70200e+03, 8.90000e+04, 1.50000e+06, 6.94200e+03, 2.00000e+06,
       1.39500e+04, 3.11500e+03, 5.28000e+03, 5.00000e+00, 1.05670e+04,
       1.63800e+03, 2.06000e+05, 6.30000e+04, 1.58400e+03, 6.95500e+03,
       4.32000e+04, 3.06400e+04, 1.15200e+05, 6.10000e+03, 7.98200e+03,
       5.08000e+02, 2.07000e+05, 3.72000e+04, 1.23500e+05, 7.18450e+04,
       6.32500e+03, 6.75000e+02, 7.87500e+03, 4.85000e+04, 1.39000e+04,
       5.50000e+01, 2.08000e+04, 9.80000e+02, 9.07500e+03, 1.03200e+04,
       2.20000e+01, 3.55530e+04, 2.99000e+02])

In [12]:
df['Age'].unique()
#change <18, 65>

array(['25-34', '45-54', '35-44', '18-24', '65 or over', '55-64',
       'under 18', nan], dtype=object)

In [13]:
df['Industry'].unique()

array(['Education (Higher Education)', 'Computing or Tech',
       'Accounting, Banking & Finance', ..., 'Student ', 'Wine & Spirits',
       'Social networks'], dtype=object)

In [14]:
df['Job_title'].unique()

array(['Research and Instruction Librarian',
       'Change & Internal Communications Manager', 'Marketing Specialist',
       ..., 'Curriculum Writer', 'Software Engineering Co-Op',
       'Content creator'], dtype=object)

In [15]:
df['Currency'].unique()

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD/NZD', 'Other', 'CHF', 'ZAR',
       'SEK', 'HKD', 'JPY', nan], dtype=object)

In [16]:
df['Other_currencies'].unique()
#need to fix and maybe merging with currency column

array([nan, 'INR', 'Peso Argentino', '$76,302.34',
       'My bonus is based on performance up to 10% of salary',
       'I work for an online state university, managing admissions data. Not direct tech support. ',
       '0', 'MYR', 'CHF', 'KWD', 'NOK', 'Na ', 'USD', 'BR$', 'SEK',
       'Base plus Commission ', 'canadian', 'Dkk', 'EUR', 'COP', 'TTD',
       'Indian rupees', 'BRL (R$)', 'Mexican pesos', 'CZK', 'GBP', 'DKK',
       'Bdt', 'RSU / equity', 'ZAR', 'Additonal = Bonus plus stock',
       'American Dollars', 'Php', 'PLN (Polish zloty)',
       'Overtime (about 5 hours a week) and bonus', 'czech crowns',
       'Stock ', 'TRY', 'Norwegian kroner (NOK)', 'CNY', 'ILS/NIS',
       '55,000', 'AUD & NZD are not the same currency...', 'US Dollar',
       'Canadian ', 'AUD', 'BRL', 'NIS (new Israeli shekel)', '-',
       'RMB (chinese yuan)', 'Taiwanese dollars',
       "AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :(",
       'NZD', 'Philippine Peso', 'SGD', 'KRW (Korean Won)', 'Czk', 'THB',
       'IDR ', 'Sgd', 'Nok', 'ILS (Shekel)',
       '6000 in stock grants annually', 'DKK ', 'China RMB',
       'AUD Australian ', 'LKR', 'Polish ZÅ‚oty', 'Philippine peso (PHP)',
       'Australian Dollars ', 'PHP',
       'Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance ',
       'Equity',
       'Itâ€™s marketed as Â£22000 but we get paid pro-rats, so no pay for the school holidays.',
       'additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate',
       'ARS', 'Argentinian peso (ARS)', 'Israeli Shekels', 'ILS', 'MXN',
       'PhP (Philippine Peso)',
       'Converted mine into USD for your easyness', 'PLN', 'KRW', 'SAR',
       'RM', 'IDR', 'Argentine Peso', 'Philippine Pesos', 'Ils', 'Rs',
       'INR (Indian Rupee)', 'NTD', 'Danish Kroner', 'CAD', 'Korean Won ',
       'dkk', 'Euro', 'SGD ', 'Mexican Pesos', 'THAI  BAHT',
       'Option to get 2x or 1.5x if taking on a weekend day in the summer',
       'Thai Baht ', '47000', 'na', 'Canadian', 'N/a',
       'up to 12% annual bonus', 'croatian kuna', 'PLN (Zwoty)', '5',
       'Rupees', 'Singapore Dollara', 'NGN', 'pkr', 'Zar', '1',
       'ekignkfb', 'hhv', 'rice', 'HKD', 'ff'], dtype=object)

In [17]:
df['Income_context'].unique()

array([nan, 'I work for a Charter School', 'Commission based', ..., 'ff',
       '10% of the salary if te goals are met', 'I recieve tips'],
      dtype=object)

In [18]:
df['Country_of_work'].unique()
#need to fix

array(['United States', 'United Kingdom', 'US', 'USA', 'Canada',
       'United Kingdom ', 'usa', 'UK', 'Scotland ', 'U.S.',
       'United States ', 'The Netherlands', 'Australia ', 'Spain', 'us',
       'Usa', 'England', 'finland', 'United States of America', 'France',
       'United states', 'Scotland', 'USA ', 'United states ', 'Germany',
       'UK ', 'united states', 'Ireland', 'India', 'Australia', 'Uk',
       'United States of America ', 'U.S. ', 'canada', 'Canada ', 'U.S>',
       'ISA', 'Argentina', 'Great Britain ', 'US ', 'United State',
       'U.S.A', 'Denmark', 'U.S.A.', 'America', 'Netherlands',
       'netherlands', 'England ', 'united states of america', 'Ireland ',
       'Switzerland', 'Netherlands ', 'Bermuda', 'Us',
       'The United States', 'United State of America', 'Germany ',
       'Malaysia', 'Mexico ', 'United Stated', 'South Africa ', 'Belgium',
       'Northern Ireland', 'u.s.', 'South Africa', 'UNITED STATES',
       'united States', 'Sweden', 'Hong Kong', 'Kuwait', 'Norway',
       'Sri lanka', 'Contracts', 'USA-- Virgin Islands', 'United Statws',
       'England/UK', 'U.S',
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
       'Unites States ', 'Usa ', 'U.S.A. ', 'England, UK.', 'Greece',
       'Japan', 'U. S. ', 'Britain ', 'United Sates', 'Japan ', 'Austria',
       'Brazil', 'Canada, Ottawa, ontario', 'Global', 'Sweden ',
       'United States of American ', 'FRANCE', 'Uniited States',
       'United Kingdom (England)',
       'Worldwide (based in US but short term trips aroudn the world)',
       'CANADA ', 'Canadw', 'Hungary', 'Luxembourg',
       'United Sates of America', 'ireland',
       'United States (I work from home and my clients are all over the US/Canada/PR',
       'Colombia', 'CANADA', 'Unted States', 'germany', 'United Statesp',
       'United Stattes', 'United Statea', 'United Kingdom.', 'Mexico',
       'New Zealand', 'Trinidad and Tobago', 'Unites States',
       'United Statees', 'United kingdom', 'Cayman Islands',
       'UNited States', 'Can',
       'I am located in Canada but I work for a company in the US',
       'United kingdom ', 'Uniyed states', 'Uniyes States',
       'United States of Americas', 'U.A.', 'Czech republic', 'Czechia',
       'Latvia', 'Finland', 'U. S.', 'Puerto Rico', 'US of A', 'Rwanda',
       'United States of america ', 'United Arab Emirates ',
       'Bangladesh ', 'Spain ', 'U.K. ', 'Romania', 'U.SA',
       'United Kindom', 'United Status', 'New Zealand ',
       'Currently finance', ' U.S.', 'Serbia', 'Philippines', 'Russia ',
       'Poland', 'UXZ', 'czech republic', 'England, UK', 'Turkey',
       'Canda', 'Puerto Rico ', 'Canada and USA', 'Catalonia',
       '$2,175.84/year is deducted for benefits', 'uk', 'France ',
       'Italy (South)', 'Jersey, Channel islands', 'Uk ', 'China',
       'Virginia', 'Afghanistan', 'Israel', 'U.s.', 'Great Britain',
       'U.s.a.', 'USS', 'Denmark ', 'Uniteed States',
       'New Zealand Aotearoa', 'U.K.', 'Hartford',
       'Japan, US Gov position', 'Csnada', 'United Stares', 'New zealand',
       'Mainland China', 'I.S.', 'UK (Northern Ireland)',
       'UK for U.S. company', ' US', 'Unites states ', 'NZ', 'Us ',
       'Hong Kong ', 'Taiwan', 'Canad', 'Unite States', 'australia',
       'The US', 'united states ', 'The Netherlands ', 'Cambodia',
       'United states of America ', 'Vietnam', 'Remote', 'Singapore',
       'South Korea', 'Czech Republic ', 'Thailand', 'Bangladesh',
       'Lithuania', 'Eritrea', 'Indonesia', 'Singapore ',
       'For the United States government, but posted overseas', 'IS',
       'Switzerland ', 'United Kingdomk', 'Italy', ' New Zealand', 'Cuba',
       'Slovenia', 'Australi', "Cote d'Ivoire", 'united kingdom',
       'From Romania, but for an US based company', 'Somalia',
       'Wales (United Kingdom)', 'England, Gb', 'Czech Republic',
       'UnitedStates', 'Sri Lanka', 'spain', 'Danmark',
       'U.K. (northern England)', 'U.K', 'NL', 'the Netherlands',
       'Nederland', 'Slovakia', 'United States of america', 'Portugal ',
       'England, United Kingdom', 'Sierra Leone', 'Englang',
       'United statew', 'UAE', 'Belgium ',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'International ', 'The Bahamas ', 'Wales',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', ' United States', 'United Statues', 'Untied States',
       'USA (company is based in a US territory, I work remote)', 'Chile',
       'denmark', 'UK (England)', 'UK, remote', 'Scotland, UK', 'USAB',
       'Unitied States', 'Norway ', 'Qatar', 'United Sttes',
       'Remote (philippines)', 'Brazil ', 'Unites kingdom ',
       'South africa', 'Portugal', 'united stated',
       'United States Of America', 'Nigeria', 'PanamÃ¡',
       'Northern Ireland ', 'england', 'SWITZERLAND',
       'Austria, but I work remotely for a Dutch/British company',
       "I work for an US based company but I'm from Argentina.",
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'United states of America',
       'Uruguay', 'Pakistan', 'Brasil', 'USA tomorrow ', 'United Stateds',
       'n/a (remote from wherever I want)', 'singapore',
       'US govt employee overseas, country withheld', 'usa ', 'Malaysia ',
       'Uganda', 'Malta', 'Saudi Arabia', 'Bulgaria', 'Estonia',
       'Morocco', 'new zealand', 'Africa', 'Ecuador', 'Zimbabwe', 'Ghana',
       'San Francisco', 'Usat', 'ðŸ‡ºðŸ‡¸ ', 'Luxemburg', 'Unitef Stated', 'UA',
       'Wales, UK', 'United Stares ', 'Croatia ',
       'England, United Kingdom ', 'United STates', 'USaa', 'uSA',
       'South Korea ', 'The netherlands', 'Ukraine ', 'america',
       'switzerland', 'United States- Puerto Rico',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Wales (UK)', 'Isle of Man', 'Northern Ireland, United Kingdom',
       'europe', 'California ',
       'UK, but for globally fully remote company', 'Australian ',
       'MÃ©xico', 'Jamaica', 'uS', 'USD', 'the netherlands',
       "USA, but for foreign gov't", 'japan', 'Kenya', 'Jordan',
       'United Statss', 'ARGENTINA BUT MY ORG IS IN THAILAND',
       'United states of america', 'UsA',
       'I work for a UAE-based organization, though I am personally in the US.',
       'United  States', 'france', 'Aotearoa New Zealand', 'na', 'Policy',
       'Cyprus', 'hong konh', 'United States is America', 'Liechtenstein',
       'Company in Germany. I work from Pakistan.', 'croatia', 'CanadÃ¡',
       'ENGLAND', 'United States of American', 'U.S.A ', 'INDIA',
       'Bosnia and Herzegovina', 'NIGERIA', 'Poland ', 'pakistan',
       'Nigeria ', 'London', 'ss', 'dbfemf', 'ibdia', 'LOUTRELAND',
       'philippines', 'ff', 'Myanmar', 'Burma', nan], dtype=object)

In [19]:
df['US_State'].unique()
#need to fix

array(['Massachusetts', nan, 'Tennessee', 'Wisconsin', 'South Carolina',
       'New Hampshire', 'Arizona', 'Missouri', 'Florida', 'Pennsylvania',
       'Michigan', 'Minnesota', 'Illinois', 'California', 'Georgia',
       'Ohio', 'District of Columbia', 'Maryland', 'Texas', 'Virginia',
       'North Carolina', 'New York', 'New Jersey', 'Rhode Island',
       'Colorado', 'Oregon', 'Washington', 'Indiana', 'Iowa', 'Nebraska',
       'Oklahoma', 'Maine', 'Connecticut', 'South Dakota',
       'West Virginia', 'Idaho', 'Louisiana', 'Montana', 'Kentucky',
       'North Dakota', 'Kansas', 'Vermont', 'Arkansas', 'Alabama',
       'Nevada', 'Delaware', 'New Mexico', 'Hawaii', 'Utah',
       'Mississippi', 'Kentucky, Ohio', 'District of Columbia, Virginia',
       'District of Columbia, Maryland', 'Alaska', 'Arizona, Washington',
       'Georgia, New York', 'California, Colorado', 'California, Oregon',
       'District of Columbia, Maryland, Pennsylvania, Virginia',
       'Arizona, California', 'North Carolina, Utah', 'Wyoming',
       'Ohio, Wyoming', 'Georgia, Tennessee', 'Massachusetts, Oregon',
       'Alabama, Montana', 'Alabama, District of Columbia',
       'California, Pennsylvania', 'New Jersey, Pennsylvania',
       'Georgia, Washington', 'Alaska, Maryland',
       'Michigan, South Carolina', 'Massachusetts, Rhode Island',
       'Georgia, Minnesota', 'Colorado, Nevada',
       'Maine, Massachusetts, New Hampshire, North Carolina',
       'Alabama, Minnesota, Nevada', 'New Jersey, New York',
       'Arizona, Utah', 'Alabama, Kansas', 'California, Oklahoma',
       'Illinois, Wisconsin', 'Illinois, Kentucky',
       'Arizona, California, Nevada, Texas',
       'Alaska, Idaho, Oregon, Utah, Washington',
       'Massachusetts, Pennsylvania', 'Nevada, Oregon',
       'New Jersey, Virginia', 'Montana, Wyoming',
       'Colorado, Massachusetts',
       'District of Columbia, Maryland, Virginia',
       'Massachusetts, Vermont', 'Massachusetts, New Hampshire',
       'Arkansas, Iowa, Massachusetts, Ohio, Wyoming', 'New York, Texas',
       'California, Montana', 'Iowa, Utah, Vermont', 'Texas, Virginia',
       'Utah, Vermont', 'Arkansas, Illinois', 'Georgia, Massachusetts',
       'Maryland, Virginia', 'Florida, Georgia, South Carolina',
       'Arkansas, Idaho, Kansas, Louisiana, Michigan, Mississippi, Nevada, New York, South Carolina, Tennessee, Washington',
       'California, Texas', 'Indiana, Ohio', 'Ohio, Washington',
       'Kansas, Missouri', 'Colorado, Illinois',
       'Arizona, Hawaii, Illinois, Michigan, Utah, Wyoming',
       'California, New Jersey', 'Louisiana, Washington',
       'Maryland, New York', 'District of Columbia, Washington',
       'Delaware, Pennsylvania', 'Illinois, North Carolina',
       'Indiana, Massachusetts', 'Florida, New Hampshire, Wisconsin',
       'Pennsylvania, Rhode Island', 'New York, Oregon, Vermont',
       'Iowa, Nebraska', 'California, New York', 'Arizona, New York',
       'California, District of Columbia, Illinois, Iowa, Maryland, Minnesota',
       'Oregon, Washington', 'New York, Virginia',
       'Mississippi, Missouri', 'California, Maryland',
       'California, Illinois, Massachusetts, North Carolina, South Carolina, Virginia',
       'Alabama, California', 'Michigan, Texas, Washington',
       'Alabama, Oregon', 'Alabama, Alaska, Arizona',
       'Alabama, South Carolina',
       'Colorado, Delaware, New Jersey, West Virginia, Wyoming',
       'Utah, Wisconsin'], dtype=object)

In [20]:
df['City_of_work'].unique()

array(['Boston', 'Cambridge', 'Chattanooga', ..., 'Shenzhen',
       'Bennettsville', 'Jhonston'], dtype=object)

In [21]:
df['Overral_experience'].unique()
#drop years, <1 and 41>

array(['5-7 years', '8 - 10 years', '2 - 4 years', '21 - 30 years',
       '11 - 20 years', '1 year or less', '41 years or more',
       '31 - 40 years', nan], dtype=object)

In [22]:
df['Field_experience'].unique()
#drop years, <1 and 41>

array(['5-7 years', '2 - 4 years', '21 - 30 years', '11 - 20 years',
       '1 year or less', '8 - 10 years', '31 - 40 years',
       '41 years or more', nan], dtype=object)

In [23]:
df['Education'].unique()
#need to fix : college degree/high school

array(["Master's degree", 'College degree', 'PhD', nan, 'Some college',
       'High School', 'Professional degree (MD, JD, etc.)'], dtype=object)

In [24]:
df['Gender'].unique()
#need to fix

array(['Woman', 'Non-binary', 'Man', nan, 'Other or prefer not to answer',
       'Prefer not to answer'], dtype=object)

In [25]:
#Marking corrupt values as missing

missing_values=["n.a.","?","NA","n/a", "na", "--",'nan','dbfemf','Prefer not to answer']
df = pd.read_csv("Salary_Survey.csv",na_values = missing_values)

In [26]:
#Renaming again after reading the file with the missing values to nan.

df=df.rename(columns={"How old are you?":"Age",'Job title':"Job_title","What industry do you work in?":"Industry",'If your job title needs additional context, please clarify here:':"Job_title_context","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)":"Annual_Salary",'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.':"Monetary_Compensation","Please indicate the currency":"Currency",'If "Other," please indicate the currency here: ':"Other_currencies",'If your income needs additional context, please provide it here:':"Income_context", 'What country do you work in?':"Country_of_work","If you're in the U.S., what state do you work in?":"US_State",'What city do you work in?':"City_of_work","How many years of professional work experience do you have overall?":"Overral_experience",'How many years of professional work experience do you have in your field?':"Field_experience",'What is your highest level of education completed?':"Education",'What is your gender?':"Gender"})

In [27]:
#Checking on missing values
df.isnull().sum()

Timestamp                   93
Age                         93
Industry                   167
Job_title                   95
Job_title_context        20912
Annual_Salary               93
Monetary_Compensation     7398
Currency                    93
Other_currencies         27972
Income_context           25135
Country_of_work             95
US_State                  5119
City_of_work               203
Overral_experience          93
Field_experience            93
Education                  315
Gender                     265
Unnamed: 17              28178
Unnamed: 18              28178
Unnamed: 19              28178
Unnamed: 20              28178
Unnamed: 21              28178
Unnamed: 22              28178
dtype: int64

In [28]:
#Checking if Annual Salary changed to numerical

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28178 entries, 0 to 28177
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              28085 non-null  object
 1   Age                    28085 non-null  object
 2   Industry               28011 non-null  object
 3   Job_title              28083 non-null  object
 4   Job_title_context      7266 non-null   object
 5   Annual_Salary          28085 non-null  object
 6   Monetary_Compensation  20780 non-null  float64
 7   Currency               28085 non-null  object
 8   Other_currencies       206 non-null    object
 9   Income_context         3043 non-null   object
 10  Country_of_work        28083 non-null  object
 11  US_State               23059 non-null  object
 12  City_of_work           27975 non-null  object
 13  Overral_experience     28085 non-null  object
 14  Field_experience       28085 non-null  object
 15  Education              27863 non-null  object
 16  Gender                 27913 non-null  object
 17  Unnamed: 17            0 non-null      float64
 18  Unnamed: 18            0 non-null      float64
 19  Unnamed: 19            0 non-null      float64
 20  Unnamed: 20            0 non-null      float64
 21  Unnamed: 21            0 non-null      float64
 22  Unnamed: 22            0 non-null      float64
dtypes: float64(7), object(16)
memory usage: 4.9+ MB

In [29]:
#Drop empty columns

df= df.dropna(axis = 1, how ='all')

In [30]:
#Drop the rows with all NaN values

df = df.dropna(axis = 0, how ='all')
df

,Timestamp,Age,Industry,Job_title,Job_title_context,Annual_Salary,Monetary_Compensation,Currency,Other_currencies,Income_context,Country_of_work,US_State,City_of_work,Overral_experience,Field_experience,Education,Gender
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28080,9/25/2024 19:54:18,45-54,"Accounting, Banking & Finance",Product Manager Lead,NaN,117000,8000.0,USD,NaN,NaN,USA,Missouri,Remote,11 - 20 years,11 - 20 years,College degree,Woman
28081,9/25/2024 21:34:43,45-54,Education (Primary/Secondary),Curriculum Writer,I am a freelance contract curriculum writer fo...,70000,0.0,USD,NaN,NaN,United States,South Carolina,Bennettsville,21 - 30 years,21 - 30 years,Master's degree,Woman
28082,9/30/2024 10:52:30,55-64,Government and Public Administration,Clerical Officer,NaN,28600,NaN,EUR,NaN,NaN,Ireland,NaN,Dublin,21 - 30 years,1 year or less,"Professional degree (MD, JD, etc.)",Man
28083,10/4/2024 13:05:24,18-24,Computing or Tech,Software Engineering Co-Op,I was an Intern,56160,0.0,USD,NaN,NaN,United States,Rhode Island,Jhonston,1 year or less,1 year or less,College degree,Man
28084,10/7/2024 5:17:56,65 or over,Social networks,Content creator,NaN,2000000,NaN,USD,NaN,NaN,Taiwan,"Utah, Wisconsin",Milwaukee,41 years or more,2 - 4 years,PhD,Non-binary

In [31]:
#Trying to drop commas and spaces from Salary to change it to numerical

df['Annual_Salary']= df['Annual_Salary'].replace(',','', regex=True,)

#https://stackoverflow.com/questions/56947333/how-to-remove-commas-from-all-the-column-in-pandas-at-once

In [32]:
#Changing Annual_Salary feature to numerical

df[["Annual_Salary"]] = df[["Annual_Salary"]].apply(pd.to_numeric)

#https://stackoverflow.com/questions/15891038/change-column-type-in-pandas

In [33]:
#Checking if it worked

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28085 entries, 0 to 28084
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              28085 non-null  object
 1   Age                    28085 non-null  object
 2   Industry               28011 non-null  object
 3   Job_title              28083 non-null  object
 4   Job_title_context      7266 non-null   object
 5   Annual_Salary          28085 non-null  int64
 6   Monetary_Compensation  20780 non-null  float64
 7   Currency               28085 non-null  object
 8   Other_currencies       206 non-null    object
 9   Income_context         3043 non-null   object
 10  Country_of_work        28083 non-null  object
 11  US_State               23059 non-null  object
 12  City_of_work           27975 non-null  object
 13  Overral_experience     28085 non-null  object
 14  Field_experience       28085 non-null  object
 15  Education              27863 non-null  object
 16  Gender                 27913 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 3.9+ MB

In [34]:
#Check head and tail for overview

df.head()

,Timestamp,Age,Industry,Job_title,Job_title_context,Annual_Salary,Monetary_Compensation,Currency,Other_currencies,Income_context,Country_of_work,US_State,City_of_work,Overral_experience,Field_experience,Education,Gender
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman

In [35]:
df.tail()

,Timestamp,Age,Industry,Job_title,Job_title_context,Annual_Salary,Monetary_Compensation,Currency,Other_currencies,Income_context,Country_of_work,US_State,City_of_work,Overral_experience,Field_experience,Education,Gender
28080,9/25/2024 19:54:18,45-54,"Accounting, Banking & Finance",Product Manager Lead,NaN,117000,8000.0,USD,NaN,NaN,USA,Missouri,Remote,11 - 20 years,11 - 20 years,College degree,Woman
28081,9/25/2024 21:34:43,45-54,Education (Primary/Secondary),Curriculum Writer,I am a freelance contract curriculum writer fo...,70000,0.0,USD,NaN,NaN,United States,South Carolina,Bennettsville,21 - 30 years,21 - 30 years,Master's degree,Woman
28082,9/30/2024 10:52:30,55-64,Government and Public Administration,Clerical Officer,NaN,28600,NaN,EUR,NaN,NaN,Ireland,NaN,Dublin,21 - 30 years,1 year or less,"Professional degree (MD, JD, etc.)",Man
28083,10/4/2024 13:05:24,18-24,Computing or Tech,Software Engineering Co-Op,I was an Intern,56160,0.0,USD,NaN,NaN,United States,Rhode Island,Jhonston,1 year or less,1 year or less,College degree,Man
28084,10/7/2024 5:17:56,65 or over,Social networks,Content creator,NaN,2000000,NaN,USD,NaN,NaN,Taiwan,"Utah, Wisconsin",Milwaukee,41 years or more,2 - 4 years,PhD,Non-binary

In [36]:
#Changing NaN to 0 on Salary and Compensation features

df['Annual_Salary']= df['Annual_Salary'].replace(to_replace = np.nan, value = 0)

In [37]:
#Changing NaN to 0 on Salary and Compensation features

df['Monetary_Compensation']= df['Monetary_Compensation'].replace(to_replace = np.nan, value = 0)

In [38]:
df.head()

,Timestamp,Age,Industry,Job_title,Job_title_context,Annual_Salary,Monetary_Compensation,Currency,Other_currencies,Income_context,Country_of_work,US_State,City_of_work,Overral_experience,Field_experience,Education,Gender
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,54600,4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,0.0,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman

In [39]:
df.describe()

       Annual_Salary  Monetary_Compensation
count   2.808500e+04           2.808500e+04
mean    3.612420e+05           1.343166e+04
std     3.620792e+07           7.172276e+05
min     0.000000e+00           0.000000e+00
25%     5.400000e+04           0.000000e+00
50%     7.500000e+04           0.000000e+00
75%     1.100000e+05           5.000000e+03
max     6.000070e+09           1.200000e+08

In [40]:
# Income_context has only 3043 non-null values, which mean almost 90% of the data is missing for this feature so it became redundant. 
#Job_title_context is also redundant with only a bit more than 25% of data.
#Obs.:  Other_currencies has only 206 values but it can be merged into the Currency feature.

new_df = df.drop(columns=['Income_context','Job_title_context'])

In [41]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28085 entries, 0 to 28084
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              28085 non-null  object
 1   Age                    28085 non-null  object
 2   Industry               28011 non-null  object
 3   Job_title              28083 non-null  object
 4   Annual_Salary          28085 non-null  int64
 5   Monetary_Compensation  28085 non-null  float64
 6   Currency               28085 non-null  object
 7   Other_currencies       206 non-null    object
 8   Country_of_work        28083 non-null  object
 9   US_State               23059 non-null  object
 10  City_of_work           27975 non-null  object
 11  Overral_experience     28085 non-null  object
 12  Field_experience       28085 non-null  object
 13  Education              27863 non-null  object
 14  Gender                 27913 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 3.4+ MB

In [42]:
df = new_df

In [43]:
df['Other_currencies'].unique()
#Going to fix this column, coping here to be easier to code.

array([nan, 'INR', 'Peso Argentino', '$76,302.34',
       'My bonus is based on performance up to 10% of salary',
       'I work for an online state university, managing admissions data. Not direct tech support. ',
       '0', 'MYR', 'CHF', 'KWD', 'NOK', 'Na ', 'USD', 'BR$', 'SEK',
       'Base plus Commission ', 'canadian', 'Dkk', 'EUR', 'COP', 'TTD',
       'Indian rupees', 'BRL (R$)', 'Mexican pesos', 'CZK', 'GBP', 'DKK',
       'Bdt', 'RSU / equity', 'ZAR', 'Additonal = Bonus plus stock',
       'American Dollars', 'Php', 'PLN (Polish zloty)',
       'Overtime (about 5 hours a week) and bonus', 'czech crowns',
       'Stock ', 'TRY', 'Norwegian kroner (NOK)', 'CNY', 'ILS/NIS',
       '55,000', 'AUD & NZD are not the same currency...', 'US Dollar',
       'Canadian ', 'AUD', 'BRL', 'NIS (new Israeli shekel)', '-',
       'RMB (chinese yuan)', 'Taiwanese dollars',
       "AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :(",
       'NZD', 'Philippine Peso', 'SGD', 'KRW (Korean Won)', 'Czk', 'THB',
       'IDR ', 'Sgd', 'Nok', 'ILS (Shekel)',
       '6000 in stock grants annually', 'DKK ', 'China RMB',
       'AUD Australian ', 'LKR', 'Polish ZÅ‚oty', 'Philippine peso (PHP)',
       'Australian Dollars ', 'PHP',
       'Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance ',
       'Equity',
       'Itâ€™s marketed as Â£22000 but we get paid pro-rats, so no pay for the school holidays.',
       'additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate',
       'ARS', 'Argentinian peso (ARS)', 'Israeli Shekels', 'ILS', 'MXN',
       'PhP (Philippine Peso)',
       'Converted mine into USD for your easyness', 'PLN', 'KRW', 'SAR',
       'RM', 'IDR', 'Argentine Peso', 'Philippine Pesos', 'Ils', 'Rs',
       'INR (Indian Rupee)', 'NTD', 'Danish Kroner', 'CAD', 'Korean Won ',
       'dkk', 'Euro', 'SGD ', 'Mexican Pesos', 'THAI  BAHT',
       'Option to get 2x or 1.5x if taking on a weekend day in the summer',
       'Thai Baht ', '47000', 'Canadian', 'N/a', 'up to 12% annual bonus',
       'croatian kuna', 'PLN (Zwoty)', '5', 'Rupees', 'Singapore Dollara',
       'NGN', 'pkr', 'Zar', '1', 'ekignkfb', 'hhv', 'rice', 'HKD', 'ff'],
      dtype=object)

In [44]:
Replacements ={'Peso Argentino':'ARS', 'BR$':'BRL','canadian':'CAD','Dkk':'DKK','Indian rupees':'INR','BRL (R$)':'BRL',
               'Mexican pesos':'MXN','Bdt':'BDT','American Dollars':'USD','Php':'PHP','PLN (Polish zloty)':'PLN',
               'czech crowns':'CZK','Norwegian kroner (NOK)':'NOK','ILS/NIS':'ILS','US Dollar':'USD','Canadian ':'CAD',
               'NIS (new Israeli shekel':'ILS','RMB (chinese yuan)':'RMB','Taiwanese dollars':'TWD','Philippine Peso':'PHP',
               'KRW (Korean Won)':'KRW','Czk':'CZK','Sgd':'SGD','Nok':'NOK','ILS (Shekel)':'ILS','DKK ':'DKK','China RMB':'RMB',
               'AUD Australian ':'AUD','Polish ZÅ‚oty':'PLN','Philippine peso (PHP)':'PHP','Australian Dollars ':'AUD',
               'Argentinian peso (ARS)':'ARS','Israeli Shekels':'ILS','PhP (Philippine Peso)':'PHP',
               'Converted mine into USD for your easyness':'USD','RM':'MYR','Argentine Peso':'ARS',
               'Philippine Pesos':'PHP','Ils':'ILS','Rs':'INR','INR (Indian Rupee)':'INR','Danish Kroner':'DKK',
               'Korean Won ':'KRW','dkk':'DKK','Euro':'EUR','SGD ':'SGD','Mexican Pesos':'MXN','THAI  BAHT':'THB',
               'Thai Baht ':'THB','Canadian':'CAD','croatian kuna':'HRK','PLN (Zwoty)':'PLN','Rupees':'INR',
              'Singapore Dollara':'SGD','pkr':'PKR','Zar':'ZAR',}

In [45]:
df['Other_currencies']=df['Other_currencies'].replace(Replacements)

In [46]:
df['Other_currencies'].unique()

array([nan, 'INR', 'ARS', '$76,302.34',
       'My bonus is based on performance up to 10% of salary',
       'I work for an online state university, managing admissions data. Not direct tech support. ',
       '0', 'MYR', 'CHF', 'KWD', 'NOK', 'Na ', 'USD', 'BRL', 'SEK',
       'Base plus Commission ', 'CAD', 'DKK', 'EUR', 'COP', 'TTD', 'MXN',
       'CZK', 'GBP', 'BDT', 'RSU / equity', 'ZAR',
       'Additonal = Bonus plus stock', 'PHP', 'PLN',
       'Overtime (about 5 hours a week) and bonus', 'Stock ', 'TRY',
       'CNY', 'ILS', '55,000', 'AUD & NZD are not the same currency...',
       'AUD', 'NIS (new Israeli shekel)', '-', 'RMB', 'TWD',
       "AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :(",
       'NZD', 'SGD', 'KRW', 'THB', 'IDR ',
       '6000 in stock grants annually', 'LKR',
       'Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance ',
       'Equity',
       'Itâ€™s marketed as Â£22000 but we get paid pro-rats, so no pay for the school holidays.',
       'additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate',
       'SAR', 'IDR', 'NTD',
       'Option to get 2x or 1.5x if taking on a weekend day in the summer',
       '47000', 'N/a', 'up to 12% annual bonus', 'HRK', '5', 'NGN', 'PKR',
       '1', 'ekignkfb', 'hhv', 'rice', 'HKD', 'ff'], dtype=object)

In [47]:
Replacements_2 ={'My bonus is based on performance up to 10% of salary':'',
               'I work for an online state university, managing admissions data. Not direct tech support. ':'',
       '0':'',
'Base plus Commission ':'',
'RSU / equity':'',
'Additonal = Bonus plus stock':'',
'Overtime (about 5 hours a week) and bonus':'',
'Stock ':'',
'55,000':'',
'AUD & NZD are not the same currency...':'',
'-':'',
"AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :(":'',
'6000 in stock grants annually':'',
'Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance ':'',
       'Equity':'',
       'Itâ€™s marketed as Â£22000 but we get paid pro-rats, so no pay for the school holidays.':'',
       'additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate':'',
'Option to get 2x or 1.5x if taking on a weekend day in the summer':'',
'47000':'',
'up to 12% annual bonus':'',
'N/a':'',
'5':'','Na ':'',
'ekignkfb':'',
'hhv':'', 'rice':'', 'NIS (new Israeli shekel)':'NIS','$76,302.34':'','1':'','ff':''}

In [48]:
df['Other_currencies']=df['Other_currencies'].replace(Replacements_2)

In [49]:
df['Other_currencies'].unique()

array([nan, 'INR', 'ARS', '', 'MYR', 'CHF', 'KWD', 'NOK', 'USD', 'BRL',
       'SEK', 'CAD', 'DKK', 'EUR', 'COP', 'TTD', 'MXN', 'CZK', 'GBP',
       'BDT', 'ZAR', 'PHP', 'PLN', 'TRY', 'CNY', 'ILS', 'AUD', 'NIS',
       'RMB', 'TWD', 'NZD', 'SGD', 'KRW', 'THB', 'IDR ', 'LKR', 'SAR',
       'IDR', 'NTD', 'HRK', 'NGN', 'PKR', 'HKD'], dtype=object)

In [50]:
# Replace None with NaN using fillna()
df['Other_currencies'] = df['Other_currencies'].fillna(value=np.nan)

In [51]:
df['Other_currencies'].isnull().sum()

27879

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28085 entries, 0 to 28084
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Timestamp              28085 non-null  object
 1   Age                    28085 non-null  object
 2   Industry               28011 non-null  object
 3   Job_title              28083 non-null  object
 4   Annual_Salary          28085 non-null  int64
 5   Monetary_Compensation  28085 non-null  float64
 6   Currency               28085 non-null  object
 7   Other_currencies       206 non-null    object
 8   Country_of_work        28083 non-null  object
 9   US_State               23059 non-null  object
 10  City_of_work           27975 non-null  object
 11  Overral_experience     28085 non-null  object
 12  Field_experience       28085 non-null  object
 13  Education              27863 non-null  object
 14  Gender                 27913 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 3.4+ MB